<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Vethaimathi</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="login-box">

<h1>🌱 Vethaimathi</h1>

<h3>Farmer Login</h3>

<input type="email" placeholder="Email">

<input type="password" placeholder="Password">

<button>Login</button>

<p>Don't have an account?
<a href="/register">Register</a>
</p>

</div>

</body>

</html>