<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register | Vethaimathi</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="login-box">

    <h1>🌱 Vethaimathi</h1>

    <h3>Farmer Registration</h3>

    <input type="text"
           placeholder="Full Name">

    <input type="email"
           placeholder="Email">

    <input type="password"
           placeholder="Password">

    <input type="password"
           placeholder="Confirm Password">

    <button>Register</button>

    <p>
        Already have an account?
        <a href="/login">Login</a>
    </p>

</div>

</body>

</html>